#root {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  align-items: center;
  overflow: hidden auto;
  padding-bottom: 0;
}

.weather_cards {
  width: min(100%, 600px);
  margin-bottom: 40px;
}

.weather_cards .carousel-control-prev,
.weather_cards .carousel-control-next {
  width: 2rem;
}

.weather_cards .carousel-indicators {
  bottom: -50px;
  align-items: center;
  gap: 2px;
}

.weather_cards .carousel-indicators > button {
  width: 8px;
  height: 8px;
  border: 0 solid;
  border-radius: 6px;
  margin: 0 2px;
}

.weather_card {
  /* For testing purposes */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  /* For testing purposes */

  border-radius: 0px;
}
.weather_card .card-body {
  padding: 2rem;
  width: 100%;
}
.weather_card .main_informations {
  text-align: center;
}

@media (min-width: 600px) {
  #root {
    padding: 20px;
  }

  .weather_card {
    border-radius: var(--bs-card-border-radius);
  }

  .weather_cards .carousel-item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .weather_cards .carousel-control-prev {
    left: -1rem;
  }
  .weather_cards .carousel-control-next {
    right: -1rem;
  }
}
