.weather_card {
  /* For testing purposes */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
  /* For testing purposes */
}
.weather_card .main_informations {
  text-align: center;
}
