#root {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  align-items: center;
  overflow: hidden auto;
  padding-bottom: 0;
}

.weather_cards {
  width: min(100%, 600px);
  margin-bottom: 40px;
  min-height: 680px;
}

.weather_cards .carousel-control-prev,
.weather_cards .carousel-control-next {
  width: 2rem;
}

.weather_cards .carousel-indicators {
  bottom: -50px;
  align-items: center;
  gap: 2px;
}

.weather_cards .carousel-indicators > button {
  width: 8px;
  height: 8px;
  border: 0 solid;
  border-radius: 6px;
  margin: 0 2px;
}

.weather_cards.using_geolocation .carousel-indicators > button:nth-child(1) {
  background: url("assets/location.svg") 50% no-repeat;
  background-size: 90%;
  padding: 2px;
  margin: 0;
}
.weather_cards.using_geolocation
  .carousel-indicators
  > button:nth-child(1)
  svg {
  height: 80%;
  width: 80%;
}

.weather_card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  min-height: 670px;
}
.weather_card .card-body {
  padding: 2rem;
  width: 100%;
}
.weather_card .main_informations {
  text-align: center;
}

.weather_card.weather_card_loading {
  text-align: center;
}

.hourly_slider {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 1.2rem;
  padding: 5px;
  margin: 15px 0;
}
.hourly_slider::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.hourly_slider::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}
.hourly_slider::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 2px solid #555555;
  border-radius: 10px;
}
.hourly_slider::-webkit-scrollbar-thumb:hover {
  border-color: black;
  background-color: black;
}

.hourly_slider_item {
  text-align: center;
}
.hourly_slider_item .hourly_slider_item__hour {
  font-size: 14px;
}
/* this item contains only 1 svg, the icon */
.hourly_slider_item svg {
  height: 25px;
  width: 25px;
}

.forecast_multiple_days {
  margin: 15px 0;
}

.forecast_multiple_days .forecast_single_day {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.forecast_single_day .time {
  text-align: left;
}
.forecast_single_day .icon {
  text-align: center;
}
.forecast_single_day .icon svg {
  height: 22px;
  width: 22px;
}

.forecast_single_day .temp_range {
  text-align: right;
}

.forecast_single_day .temp_range .temp_range_blocks {
  display: inline-block;
  min-width: 22px;
  padding: 0 2px;
  text-align: center;
}

.search_table {
  margin-top: 0.3rem;
}
.search_table tr.selected td {
  background-color: var(--bs-blue);
  border-color: var(--bs-blue);
  color: white;
  transition: all 0.12s ease-in;
}

.circle_button {
  border: 0px solid black;
  border-radius: 100%;
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-btn-bg);
  padding: 15px;
}

.button_open_modal {
  position: absolute;
  bottom: 6%;
  right: 6%;
}
.button_open_modal svg {
  height: 30px;
  width: 30px;
}

.button_delete {
  border: none;
  background: inherit;
  float: inline-end;
  color: #dc3545;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.button_delete svg {
  height: 20px;
  width: 20px;
}
.button_delete:disabled {
  visibility: hidden;
}

.button_delete:hover {
  color: #dc3545;
  opacity: 1;
}

@media (min-width: 600px) {
  #root {
    padding: 20px;
  }

  .weather_card {
    border-radius: var(--bs-card-border-radius);
  }

  .weather_cards .carousel-item {
    padding-right: 20px;
    padding-left: 20px;
  }

  .weather_cards .carousel-control-prev {
    left: -1rem;
  }
  .weather_cards .carousel-control-next {
    right: -1rem;
  }
}
